.nav-link:hover {
  color: darkorange !important;
}

footer{
  background-color: black;
  width: 100%;
  height: 80%;
}

.list ul li{
  list-style-type: none;
  color: rgb(238, 183, 82);
}

.list ul li:hover{
color: blue;
}

.icons i{
  border-radius: 50%;
}